<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Livraria Online</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Nosso arquivo CSS estático -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">Livraria Online</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          <a class="nav-link" href="{% url 'categorias' %}">Categorias</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Livros</a>
          <a class="nav-link" href="{% url 'autores' %}">Autores</a>
        </div>
      </div>
      <form class="d-flex">
        {% if user.is_authenticated %}
          <a href="{% url 'admin:index' %}" class="btn btn-outline-secondary" target="_blank">Admin</a>
        {% else %}
          <a href="{% url 'admin:index' %}" class="btn btn-outline-secondary" target="_blank">Login</a>
        {% endif %}
      </form>
    </div>
  </nav>

  <div class="container mt-3">
    {% block content %}<!--  Código default (geralmente em branc)  -->{% endblock %}
  </div>
</body>
</html>