{% extends "base_template.html" %}

{% block title %}<title>Home | Livraria Online</title>{% endblock %}

{% block content %}
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bem-vindo a Livraria Online!</h5>
          <p class="card-text">Veja um resumo do nosso catálogo atualmente e aproveite!</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ quantidade_livros }} Livros</li>
          <li class="list-group-item">{{ quantidade_autores }} Autores</li>
        </ul>
        <div class="card-body">
          <div class="imagem-livros"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}